body{
	background-color: green;
}

main{
	background-color: blue;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

table{
	border: solid 1px #000000;
	border-collapse: collapse;
}

table tr{
	border: solid 1px #000000;
	border-collapse: collapse;
}
